
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>BIM Insights - Logout</title>
    <!--Start Functionality-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery-Session.js"></script>
    <script src="~/assets/Scripts/Logout.js"></script>
    <!--End Functionality-->
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
